.flex{
    display: flex;
}

.propertys a {
    margin-left: 5px;
}

.book-row, .book-full {
    width: 800px;
    margin-top: 25px;
    border: 1px solid;
}

.book-img{
    width: 200px;
    height: 400px;
}
